html {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "PT Serif", serif;
  text-align: center;
}

p,
li,
label,
input,
select,
textarea {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  padding: 0 2rem;
  margin: 0 auto;
}

.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

.desktop-header {
  display: flex;
  flex-direction: column;
}

.masthead-banner-mobile {
  visibility: visible;
  background-image: url(../img/masthead-image.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 3rem;
  opacity: 90%;
}

.masthead-banner {
  visibility: hidden;
  width: 0;
  height: 0;
}

.logo {
  width: 5rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar a {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0.5rem 0;
  background-color: whitesmoke;
  border: 1px solid black;
}

#active {
  background-color: black;
  color: whitesmoke;
}

.article {
  margin-bottom: 3rem;
}

.article h2,
.image-tagline {
  text-align: center;
}

.images {
  width: 100%;
}

.portfolio-card {
  margin-bottom: 3rem;
}

.portfolio .portfolio-img {
  width: 100%;
}

.portfolio .portfolio-title {
  text-align: center;
}

.footer {
  background-color: gray;
  padding: 1rem;
  margin: 0 auto;
  color: white;
}

.footer i {
  margin: 0 2px;
  color: white;
}

/* Landscape mobile and portrait tablet */
@media only screen and (max-width: 80rem) and (min-width: 35rem) {
  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1rem;
  }

  .logo {
    display: flex;
  }

  .navbar {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  .navbar a {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin: 1.5rem;
    background-color: whitesmoke;
    border: 1px solid black;
  }

  .masthead-banner {
    visibility: visible;
    background-image: url(../img/masthead-image.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 3rem;
    opacity: 90%;
  }

  .masthead-banner-mobile {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
  }

  .images {
    width: 100%;
  }

  .image-tagline {
    text-align: left;
  }

  .image-box {
    float: left;
    padding: 0 20px 0px 0;
    width: 40%;
  }

  .article {
    clear: left;
  }

  .portfolio {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  .footer {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: center;
  }

  .social-icons {
    margin: 0 auto;
  }
}

/* Desktop View */
@media only screen and (min-width: 80rem) {
  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1.25rem;
  }

  .logo {
    width: 6rem;
  }

  .navbar {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: center;
  }

  .navbar a {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin: 1.5rem;
    background-color: whitesmoke;
    border: 1px solid black;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .masthead-banner {
    visibility: visible;
    background-image: url(../img/masthead-image.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 3rem;
    opacity: 90%;
  }

  .masthead-banner-mobile {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
  }

  .flex-article {
    display: flex;
  }

  .article h2 {
    text-align: left;
  }

  .image-box {
    margin-right: 50px;
  }

  .images {
    width: 200px;
    padding-top: 1rem;
  }

  .portfolio {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }

  .footer {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: none;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: center;
  }

  .social-icons {
    margin: 0 auto;
  }
}
